<h1>Current Weather Data</h1>

<div class= "backgroundColor">
<h2>{{name}}, {{country}}</h2>
<h3> {{temp}}°C</h3>
<p>Wind Speed:{{wind}}</p>
<p>Pressure: {{pressure}}</p>
<p>{{description}}</p>
</div>